{% extends 'base.html' %}

{% block head %}
<title>Aplikasi Deteksi Diabetes</title>
{% endblock %}

{% block body %}

<div class="content bg-white">
    
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          

          <div class="row justify-content-center">
            <div class="col-md-6">
              
              <h3 class="heading mb-4">APLIKASI PENDETEKSI DIABETES </h3>
              <p>aplikasi ini saya buat untuk mendeteksi apakah anda positif atau negatif diabetes, yah walaupun gak 100% akurat.
              </p>

              <p><img src="{{ url_for('static', filename='images/profil.png')}}" alt="Image" class="img-fluid"></p>


            </div>
            <div class="col-md-6">
              
              <form class="mb-5"action="/" method="POST">
                <div class="row">
                  <div class="col-md-12 form-group"> 
                    <strong class="text-dark">Banyak Melahirkan :</strong>
                    <input type="text" class="form-control" name="melahirkan" id="melahirkan" placeholder="masukkan jumlah melahirkan" Required>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <strong class="text-dark">Kadar Glukosa :</strong>
                    <input class="form-control" type="text" placeholder="Masukan kadar glukosa" name="glukosa" id="glukosa" required>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <strong class="text-dark">Tekanan Darah : </strong>
                    <input class="form-control" type="text" placeholder="Masukan tekanan darah" name="darah" id="darah" required>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <strong class="text-dark">ketebalan Kulit : </strong>
                    <input class="form-control" type="text" placeholder="Masukan ketebalan kulit" name="kulit" id="kulit" required>
                  </div>
                </div>  
                <!---->
                <div class="row">
                    <div class="col-md-12 form-group">
                        <strong class="text-dark">Kadar Insulin : </strong>
                        <input class="form-control" type="text" placeholder="Masukan kadar insulin" name="insulin" id="insulin" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <strong class="text-dark">Berat Badan : </strong>
                        <input class="form-control" type="text" placeholder="Masukan Berat Badan" name="bmi" id="bmi" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <strong class="text-dark">Derajat Diabetes keturunan : </strong>
                        <input class="form-control" type="text" placeholder="Masukan derajat diabetes keturunan" name="riwayat" id="riwayat" required>
                    </div>
                </div>   
                <div class="row">
                    <div class="col-md-12 form-group">
                        <strong class="text-dark">Umur : </strong>
                        <input class="form-control" type="text" placeholder="Masukan umur" name="umur" id="umur" required>
                    </div>
                </div> 
                <hr>
                <!--menginput-->
                <div class="row">
                  <div class="col-12">
                    <button class="btn btn-primary rounded-0 py-2 px-4">prediksi</button>
                  </div>
                </div>
              </form>

            
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
    
    

    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery.validate.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/main.js')}}"></script>


{% endblock %}